body{
    background-image: url("image/background.png");
    margin: 0px;
}

header{
    padding-top: 1px;
    background-image: url("image/background.jpg");
    border-bottom: 2px solid black;
}

footer{
    background-image: url("image/background.jpg");
    border-top: 2px solid black;
}

span{
    margin-left: 10px;
}

h2{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration-line: underline;
    padding-bottom: 3%;
    font-family: cursive;
}

a{
    font-size: 200%;
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    color: dodgerblue;
    text-decoration-line: underline;
}
/*jimmy*/
.logo{
    position: relative;
    top: -5px;
    height: 38px;
    width: auto;
}
.link{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;

}
.nom{
    font-size: 25px;
    color: white;
    margin-top: 0%;
}
.domo {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin-top: -12%;
    margin-bottom: -3%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5%;
    border-style: solid;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.contact{
    color: black;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.coding {
    height: auto;
    width: 50%;
    margin-left: 20%;
}

.code{

    border-style: solid;
    background-color: black;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}
.codecolor{
    white-space: pre-wrap;
    color: white;
}

.detail{
    margin-left: 10%;
}
u{
    color: crimson;
}
.sep{
    border-top: 5px solid black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-bottom: 5px solid black;
}
o{
    color: orange;
}
y{
    color: yellow;
}
g{
    color: yellowgreen;
}
pu{
    color: mediumpurple;
}
gr{
    color: gray;
}
b{
    color: cornflowerblue;
}
