body{

}

header{
background-color: #faf6f6;
}

footer{
    background-image: url("image/background.jpg");
    border-top: 2px solid black;
}

span{
    margin-left: 10px;
}

h2{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration-line: underline;
    padding-bottom: 3%;
    font-family: cursive;
}

a{
    font-size: 200%;
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    color: dodgerblue;
    text-decoration-line: underline;
}

/*Top Page*/
.carousel{
    border-bottom: 10px solid;
    color: #faf6f6;
}
.jtitre{
    padding-top: 2%;
    padding-bottom: 37%;
    display: flex;
    justify-content: center;
}
.jatelier{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 655px;
    margin-right: -840px;
  }
.carré{
  height: 150px;
  width: 150px;
  background: #5d7963;
  -webkit-transform: rotate(0deg);
  position: absolute;
  left: 135px;
  top: 355px;
}
.transition{
  height: 5px;
  width: 2114px;
  background: #545454;
  position: absolute;
  top: 764px;

}
#nameBy{
  position: absolute;
  left: 210px;
  top: 405px;
  color: white;
  font: bold 12px Verdana;
  font-size: 30px;
}
#semoLogo{
    height: 600px;
    position: absolute;
    left: 915px;
}
  #j1{ /*Amélioration en cours bouton menu pricipal*/
    border-radius: 12px 0 12px 0;
    border: none;
    color: #555;
    font: bold 12px Verdana;
    padding: -6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    height: 55px;
  }
  #j1:hover{
    border-radius: 12px 0 12px 0;
    border: none;
    color: white;
    font: bold 12px Verdana;
    padding: -6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    background-color: #5d7963;
    height: 55px;
}
  #j2{
    border-radius: 12px 0 12px 0;
    border: none;
    color: #555;
    font: bold 12px Verdana;
    padding: 6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    height: 35px;
  }
  #j2:hover{
    border-radius: 12px 0 12px 0;
    border: none;
    color: white;
    font: bold 12px Verdana;
    padding: -6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    background-color: #5d7963;
    height: 55px;
}
  #j3{
    border-radius: 12px 0 12px 0;
    border: none;
    color: #555;
    font: bold 12px Verdana;
    padding: 6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    height: 35px;
  }
  #j3:hover{
    border-radius: 12px 0 12px 0;
    border: none;
    color: white;
    font: bold 12px Verdana;
    padding: -6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    background-color: #5d7963;
    height: 55px;
}
  #j4{
  border-radius: 12px 0 12px 0;
  border: none;
  color: #555;
  font: bold 12px Verdana;
  padding: 6px 0 6px 0;
  box-shadow: 5px -1px 3px #999;
  height: 35px;
  }
  #j4:hover{
    border-radius: 12px 0 12px 0;
    border: none;
    color: white;
    font: bold 12px Verdana;
    padding: -6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    background-color: #5d7963;
    height: 55px;
}
  #j5{
    border-radius: 12px 0 12px 0;
    border: none;
    color: #555;
    font: bold 12px Verdana;
    padding: 6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    height: 35px;
  }
  #j5:hover{
    border-radius: 12px 0 12px 0;
    border: none;
    color: white;
    font: bold 12px Verdana;
    padding: -6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    background-color: #5d7963;
    height: 55px;
}
  #j6{
    border-radius: 12px 0 12px 0;
    border: none;
    color: #555;
    font: bold 12px Verdana;
    padding: 6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    height: 35px;
  }
  #j6:hover{
    border-radius: 12px 0 12px 0;
    border: none;
    color: white;
    font: bold 12px Verdana;
    padding: -6px 0 6px 0;
    box-shadow: 5px -1px 3px #999;
    background-color: #5d7963;
    height: 55px;
}
/*jimmy*/
.logo{
    position: relative;
    top: -5px;
    height: 38px;
    width: auto;
}
.link{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
.nom{
    font-size: 25px;
    color: white;
}
.domo{
    display: flex;
}
.jtitre img{
    height: 350px;
    width: auto;
}
.jinputatelier{
    font-size: 20px;
    outline: none;
}
.jinputatelier:active{
    outline: none;
}


/*jimmy*/

.name{
    height: 80px;
    width: auto;
}

.primary{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 6%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.coding {
    height: auto;
    width: 50%;
    margin-left: 20%;
}
.carousel-item img{
    height: 745px;
    width: 35%!important;
    margin-left: 210px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    z-index: 10;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5%;
    border-style: solid;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.contact{
    color: black;
}

.drop{
    color: dodgerblue;
}

.cont .btn {
    position: relative;
    z-index: 2;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: transparent;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.lien{
    color: white;
    font-size: 16px;
}
.golien{
    font-size: 16px;
    color: white;
    text-decoration-line: underline;
}
.document{
    background-image: url("image/docback.jpg");
    background-size: 100%;
    padding: 3%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.content img{
    height: 250px;
    width: 350px;
    border: 6px solid grey;
}
.content img:hover{
    cursor: none;
    box-shadow: 0px 0px 15px 15px rgba(21, 244, 238, 0.9);
}
.content div{
    margin-right: 10%;
    margin-left: 10%;
}
.content div h3{
    color: white;
    margin-left: 5%;
}
.content div h3:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.content div p{
    color: white;
}
