body{
    border-style: solid;
    box-shadow: 0px 0px 15px 15px rgba(211, 211, 211, 0.9);
    background-image: url("image/background.png");
}

header{
    padding-top: 1px;
    background-color: rgba(245, 245, 245, 0.6);
    border-bottom: 2px solid black;
}

footer{
    background-color: rgba(245, 245, 245, 0.6);
    border-top: 2px solid black;
}

span{
    margin-left: 10px;
}

a{
    font-size: 200%;
    color: white;
    text-decoration: none;
}
a:hover{
    color: gold;
}
/*jimmy*/

.logo{
    height: 50px;
    width: auto;
}
.link{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.link div p{
    font-size: 25px;
    color: white;
}
.domo{
    display: flex;
}
.jcenter{
    background-image: url("image/homeback.jpg");
}
.jtitre{
    padding-top: 2%;
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
}
.jtitre img{
    height: 250px;
    width: auto;
}
.jatelier{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jinputatelier{
    font-size: 20px;
    outline: none;
}
.jinputatelier:active{
    outline: none;
}
#j1{
    background-color: red;
}
#j2{
    background-color: cornflowerblue;
}
#j3{
    background-color: yellowgreen;
}
#j4{
    background-color: antiquewhite;
}
#j5{
    background-color: darkgreen;
}
#imgca1{
    height: 350px;
    width: 200px;
}
#imgca2{
    height: 350px;
    width: 200px;
}
#imgca3{
    height: 350px;
    width: 200px;
}
#carousel{
    border-top: 10px solid;
    border-bottom: 10px solid;
}
/*jimmy*/

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 250%;
    font-family: "American Typewriter";
}
.name{
    height: 80px;
    width: auto;
}

.jcenter{
    background-color: rgba(245, 245, 245, 0.3);
}
.primary{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 6%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.coding {
    height: auto;
    width: 50%;
    margin-left: 20%;
}
