body{
    background-image: url("image/background.png");
}

header{
    padding-top: 1px;
    background-image: url("image/background.jpg");
    border-bottom: 2px solid black;
}

footer{
    background-image: url("image/background.jpg");
    border-top: 2px solid black;
}

span{
    margin-left: 10px;
}

h2{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration-line: underline;
    padding-bottom: 3%;
    font-family: cursive;
}

a{
    font-size: 200%;
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    color: dodgerblue;
    text-decoration-line: underline;
}
/*jimmy*/
.logo{
    position: relative;
    top: -5px;
    height: 38px;
    width: auto;
}
.link{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
.nom{
    font-size: 25px;
    color: white;
}
.domo{
    display: flex;
}
.jtitre{
    padding-top: 2%;
    padding-bottom: 37%;
    display: flex;
    justify-content: center;
}
.jtitre img{
    height: 350px;
    width: auto;
}
.jatelier{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jinputatelier{
    font-size: 20px;
    outline: none;
}
.jinputatelier:active{
    outline: none;
}
#j1{
    background-color: red;
}
#j2{
    background-color: cornflowerblue;
}
#j3{
    background-color: yellowgreen;
}
#j4{
    background-color: antiquewhite;
}
#j5{
    background-color: darkgreen;
}
#j6{
    background-color: yellow;
}
.carousel{
    border-top: 10px solid;
    border-bottom: 10px solid;
}
/*jimmy*/

.name{
    height: 80px;
    width: auto;
}

.primary{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 6%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.coding {
    height: auto;
    width: 50%;
    margin-left: 20%;
}
.carousel-item img{
    height: 745px;
    width: 6000px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    z-index: 10;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5%;
    border-style: solid;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.contact{
    color: black;
}

.drop{
    color: dodgerblue;
}

.cont .btn {
    position: relative;
    z-index: 2;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: transparent;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.lien{
    color: white;
    font-size: 16px;
}
.golien{
    font-size: 16px;
    color: white;
    text-decoration-line: underline;
}
.document{
    background-image: url("image/docback.jpg");
    background-size: 100%;
    padding: 3%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.content img{
    height: 250px;
    width: 350px;
    border: 6px solid grey;
}
.content img:hover{
    cursor: none;
    box-shadow: 0px 0px 15px 15px rgba(21, 244, 238, 0.9);
}
.content div{
    margin-right: 10%;
    margin-left: 10%;
}
.content div h3{
    color: white;
    margin-left: 5%;
}
.content div h3:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.content div p{
    color: white;
}